.main-page--contents {
  background-color: #c9c8c8;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  margin-top: 40px;
}

.create-button {
  background-color: #7c7c7c;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
  padding: 5px;
  margin: 5px;
}

.todo-list__title {
  font-size: 20px;
  font-weight: 900;
  color: #303030;
  margin-top: 20px;
  margin-bottom: 10px;
}

.finished-list__title {
  font-size: 20px;
  font-weight: 900;
  color: #303030;
  margin-top: 10px;
  margin-bottom: 10px;
}

.schedule {
  display: flex;
  flex-direction: column;
  background-color: #ffac40;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.schedule__title {
  font-size: 20px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 10px;
}
